body {
  font-family: "Poppins", sans-serif;
  /* background-color: cornflowerblue; */
  
}
h3{
  font-weight: 400;
}
:root {
  --primary-color: #f7fd04;
  --secondary-color: #fde404f6;
}
.titulo {
  font-weight: 600;
  color: var(--primary-color);
}

.active{
  color:var(--primary-color);
  text-decoration: none;
}
button{
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
button:hover{
  transform: scale(1.3);
  background-color: var(--secondary-color);
}
button:focus{
  outline: none;
}

.links{
 color:#292b2c;
}
.links:hover{
 text-decoration: none;
 color:var(--primary-color);
}
.currentLink{
  color:var(--primary-color);
}
.currentLink:hover{
  text-decoration: none;
  color:white;
 }
 
 /*MEDIA QUERIES*/
/*X-SMALL DEVICES */
@media all and (max-width: 576px) {
  .ppal {
    padding: 0rem 1rem 1rem 1rem;
  }
  .arriba{
  display: grid;
  grid-template-columns: 100vw;
}
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .ppal {
    padding: 0rem 1rem 1rem 1rem;
  }
  .arriba{
  display: grid;
  grid-template-columns: 100vw;
}
}

/*MEDIUM DEVICES*/
@media all and (min-width: 767px) and (max-width: 991px) {
  .ppal {
    padding: 0rem 4rem 4rem 4rem;
  }
  .arriba{
  display: grid;
  grid-template-columns: 45vw 55vw;
}
}
/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .ppal {
    padding: 0rem 4rem 4rem 4rem;
  }
  .arriba{
  display: grid;
  grid-template-columns: 45vw 55vw;
}
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .ppal {
    padding: 0rem 4rem 4rem 4rem;
  }
  .arriba{
  display: grid;
  grid-template-columns: 45vw 55vw;
}
}